<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Employee</title>
<link rel="stylesheet" href="addEmployeeStyle.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	<a class="navbar-brand" href="#">Employee Management System</a>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/admin}">Admin Dashboard</a></li>
			</ul>
		</div>
		<div class="collapse navbar-collapse justify-content-end"
			id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/logout}">Logout</a></li>
			</ul>
		</div>
	</nav>

	<h2>Add Employee</h2>
	<div class="message" th:if="${message}" style="color:red; text-align: center;">
			<p th:text="${message}"></p>
		</div>
	<form action="/addEmployee" method="post">
		<input type="text" name="firstName" placeholder="First Name" required>
		<input type="text" name="secondName" placeholder="Second Name" required> 
		<input type="email" name="email" placeholder="Email" required> 
		<input type="tel" name="phoneNo" placeholder="Phone Number" required> 
		<input type="text" name="dateOfBirth" placeholder="Date Of Birth(DD-MM-YYYY)" required> 
		<input type="text" name="address" placeholder="Address" required> 
		<select name="gender" required>
			<option value="">Select Gender</option>
			<option value="Male">Male</option>
			<option value="Female">Female</option>
			<option value="Other">Other</option>
		</select> 
		<input type="text" name="education" placeholder="Education" required> 
		<input type="text" name="percentage10" placeholder="Percentage of 10th std" required> 
		<input type="text" name="percentage12" placeholder="Percentage of 12th std" required> 
		<input type="text" name="percentageDeg" placeholder="Percentage of College" required>
		<input type="text" name="joinDate" placeholder="Join Date(DD-MM-YYYY)" required>
		<input type="text" name="department" placeholder="Department" required>
		<input type="text" name="position" placeholder="Position" required>
		<input type="text" name="salary" placeholder="Salary" required>
		<input type="text" name="supervisor" placeholder="Supervisor" required>
		<input type="text" name="project" placeholder="Project" required>  
		<input type="text" name="status" placeholder="Status" required>
		<button type="submit">Add Employee</button>
	</form>
</body>
</html>
