<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registration</title>
<link rel="stylesheet" href="loginStyle.css">
</head>
<body>
	<form action="/register" method="post">
		<h2>Registration</h2>
		<div th:if="${message}" style="color:red;">
			<p th:text="${message}"></p>
		</div>	
		<input type="text" name="username" placeholder="Username" required>
		<input type="email" name="email" placeholder="Email" required>
		<input type="password" name="password" placeholder="Password" required>
		<button type="submit">Register</button>
		<div th:if="${note}" style="color:blue;">
			<p>You will be receive an Email once the SUPER_ADMIN has approver you as Admin</p>
		</div><p></p>
		<p>Already Registered ? <a class="reg" href="/login">Login</a></p>
	</form>
</body>
</html>
