<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Reset Password</title>
<link rel="stylesheet" th:href="@{/loginStyle.css}">
</head>
<body>
	<form action="/resetPassword" method="post" >
		<h2>Reset Password</h2>
		<div class="message" th:if="${message}">
			<p th:text="${message}"></p>
		</div>	
		<input type="email" name="email" th:value="${forgotPassword}" readonly="readonly" />
		<input type="password" name="password" placeholder="New Password" required>
		<input type="password" name="confirmPassword" placeholder="Confirm Password" required>
		<button type="submit">Submit</button>
	</form>
</body>
</html>
